@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        gap: 1.5em;
        width: 100%;
        position: absolute;
        top: 60px;
    }

    .nav-links.open {
        display: flex;
    }
    }

    .hamburger {
    display: none;
    }

    @media (max-width: 768px) {
    .hamburger {
        display: block;
    }
}